etc/mahalia_calibration/nodered/openMHAcontrol.flow
[{"id":"a877d21.227c23","type":"tab","label":"openMHA control","disabled":false,"info":""},{"id":"1557271e.985f11","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#004899","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#004899","edited":true},"page-titlebar-backgroundColor":{"value":"#004799","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#a0a9d7","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#004799","edited":true},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":42,"sy":42,"gx":10,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5a95dddd.c4488c","type":"ui_tab","name":"System control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"790e5a98.717adc","type":"ui_tab","name":"Signal generator","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f387704b.f3de7","type":"ui_tab","name":"Compressor","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"401bc39f.af9f54","type":"ui_group","name":"System control","tab":"5a95dddd.c4488c","order":1,"disp":false,"width":"6","collapse":false},{"id":"4d46fff.cce77","type":"ui_group","name":"Settings","tab":"790e5a98.717adc","order":1,"disp":false,"width":"6","collapse":false},{"id":"78dc1a38.50c914","type":"ui_group","name":"Compressor","tab":"f387704b.f3de7","order":1,"disp":false,"width":"6","collapse":false},{"id":"16634ae1.229f0d","type":"ui_spacer","name":"spacer","group":"401bc39f.af9f54","order":12,"width":1,"height":1},{"id":"fab322ee.5715b8","type":"ui_spacer","name":"spacer","group":"4d46fff.cce77","order":5,"width":"6","height":1},{"id":"b125452c.c211d","type":"ui_spacer","name":"spacer","group":"4d46fff.cce77","order":2,"width":"2","height":1},{"id":"a0e6a585.49258","type":"ui_spacer","name":"spacer","group":"4d46fff.cce77","order":7,"width":"2","height":1},{"id":"56afea8.9740594","type":"ui_spacer","name":"spacer","group":"78dc1a38.50c914","order":3,"width":1,"height":1},{"id":"63372524.cb9afc","type":"tcp request","z":"a877d21.227c23","server":"localhost","port":"33337","out":"time","splitc":"5","name":"","x":1050,"y":220,"wires":[[]]},{"id":"fc53f9e2.899ac","type":"function","z":"a877d21.227c23","name":"set gain BTE","func":"msg.payload=\"mha.mhachain.split.bte.gain.gains=\" + msg.payload.toString() + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":280,"wires":[["63372524.cb9afc"]]},{"id":"d81a0f1.2bfb5f","type":"exec","z":"a877d21.227c23","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown","x":480,"y":1140,"wires":[[],[],[]]},{"id":"74b35563.acdfd4","type":"function","z":"a877d21.227c23","name":"set I/O channels","func":"context.micpair = msg.payload;\n\nvar mixmatrix\n\nif (context.micpair == \"front\"){\n    mixmatrix = \"[[1 0 0 0];[0 1 0 0]]\"\n//inCH = \"system:capture_1 system:capture_2 system:capture_3 system:capture_7\";\n} else {\n    mixmatrix = \"[[0 0 1 0];[0 0 0 1]]\"\n//inCH = \"system:capture_5 system:capture_6 system:capture_3 system:capture_7\";\n}\nmsg.payload=\"mha.mhachain.split.bte.select.m=\" + mixmatrix + \"\\n\"\n//msg.payload=\"io.con_in=[\" + inCH + \"]\\n\"\nreturn msg;\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":660,"y":580,"wires":[["63372524.cb9afc"]]},{"id":"161839ea.505896","type":"function","z":"a877d21.227c23","name":"set gain line","func":"msg.payload=\"mha.mhachain.split.phone.gain.gains=\" + msg.payload.toString() + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["63372524.cb9afc"]]},{"id":"9631bd34.81dd9","type":"function","z":"a877d21.227c23","name":"mute line","func":"var mixmatrix\nif (msg.payload === false){\nmixmatrix = \"[[0 0];[0 0]]\"\n}\nelse{\nmixmatrix = \"[[1 0];[0 1]]\"\n}\nmsg.payload=\"mha.mhachain.split.phone.mix.m=\" + mixmatrix + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["63372524.cb9afc"]]},{"id":"5d95f9d7.db91d","type":"function","z":"a877d21.227c23","name":"mute BTE","func":"var mixmatrix\nif (msg.payload === false){\nmixmatrix = \"[[0 0];[0 0]]\"\n}\nelse{\nmixmatrix = \"[[1 0];[0 1]]\"\n}\nmsg.payload=\"mha.mhachain.split.bte.mix.m=\" + mixmatrix + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":440,"wires":[["63372524.cb9afc"]]},{"id":"67a92a69.7cfb94","type":"inject","z":"a877d21.227c23","name":"mute on","repeat":"","crontab":"","once":true,"onceDelay":"0.05","topic":"","payload":"true","payloadType":"bool","x":280,"y":500,"wires":[["280df981.fa51be"]]},{"id":"2a3273ea.c73674","type":"inject","z":"a877d21.227c23","name":"mute off","repeat":"","crontab":"","once":true,"onceDelay":"0.05","topic":"","payload":"false","payloadType":"bool","x":280,"y":560,"wires":[["b32ec65d.b163c8"]]},{"id":"99b356af.6ee39","type":"function","z":"a877d21.227c23","name":"Toggle noise","func":"if (msg.payload === true){\nmsg.payload=\"mha.mhachain.alt_noise.select=noise\\n\"\n}\nelse{\nmsg.payload=\"mha.mhachain.alt_noise.select=pass\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":680,"wires":[["63372524.cb9afc"]]},{"id":"333acf82.4fb358","type":"function","z":"a877d21.227c23","name":"Toggle sine","func":"if (msg.payload === true){\nmsg.payload=\"mha.mhachain.alt_sine.select=sine\\n\"\n}\nelse{\nmsg.payload=\"mha.mhachain.alt_sine.select=pass\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":780,"wires":[["63372524.cb9afc"]]},{"id":"d1e6d1f.c6a993","type":"function","z":"a877d21.227c23","name":"sine frequency","func":"msg.payload=\"mha.mhachain.alt_sine.sine.f=\" + msg.payload.toString() + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":860,"wires":[["63372524.cb9afc"]]},{"id":"8705f6cf.28ad08","type":"function","z":"a877d21.227c23","name":"noise level","func":"msg.payload=\"mha.mhachain.alt_noise.noise.lev=\" + msg.payload.toString() + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":720,"wires":[["63372524.cb9afc"]]},{"id":"f70a3c06.58d058","type":"function","z":"a877d21.227c23","name":"sine level","func":"msg.payload=\"mha.mhachain.alt_sine.sine.lev=\" + msg.payload.toString() + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":820,"wires":[["63372524.cb9afc"]]},{"id":"413f8da4.e06794","type":"function","z":"a877d21.227c23","name":"stop mha","func":"msg.payload=\"cmd=quit\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1000,"wires":[["63372524.cb9afc"]]},{"id":"869fd794.44b7","type":"function","z":"a877d21.227c23","name":"start mha","func":"msg.payload=\"?read:/etc/mahalia/openMHAcontrol.cfg\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":960,"wires":[["63372524.cb9afc"]]},{"id":"37640b27.f3f534","type":"change","z":"a877d21.227c23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":90,"y":300,"wires":[["b07d7ab7.674778","f6f5b1d2.7f086","161839ea.505896","fc53f9e2.899ac","896d73bb.37c7b","5c8c5437.a8cd84","cb4865a7.2a2b9"]]},{"id":"9155db41.f9b07","type":"change","z":"a877d21.227c23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":440,"wires":[["280df981.fa51be"]]},{"id":"18a93cef.48bef3","type":"change","z":"a877d21.227c23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"front","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":620,"wires":[["51b31c95.d72dd4"]]},{"id":"d8d8edbe.6d5ad8","type":"change","z":"a877d21.227c23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"500","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":880,"wires":[["fc151416.74c4d8","d1e6d1f.c6a993","6f716718.e0fae"]]},{"id":"97eb61a4.c555d","type":"change","z":"a877d21.227c23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"40","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":720,"wires":[["e56319aa.02a668","8705f6cf.28ad08","f34326c9.a2b1d"]]},{"id":"c12631da.268e28","type":"change","z":"a877d21.227c23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"40","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":800,"wires":[["d6b34a0b.bee6f8","f70a3c06.58d058","91fd90a3.cd8ab8"]]},{"id":"a7ead4b3.019908","type":"file in","z":"a877d21.227c23","name":"","filename":"/etc/mahalia/calibration/calib_outS.cfg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":180,"wires":[["34f9427.f63f9be"]]},{"id":"934d12c6.fc0438","type":"switch","z":"a877d21.227c23","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":200,"wires":[["a7ead4b3.019908"],["ea939fd6.7af6c8"]]},{"id":"ea939fd6.7af6c8","type":"file in","z":"a877d21.227c23","name":"","filename":"/etc/mahalia/calibration/calib_outM.cfg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":510,"y":220,"wires":[["34f9427.f63f9be"]]},{"id":"34f9427.f63f9be","type":"function","z":"a877d21.227c23","name":"set output calibration","func":"msg.payload=\"mha.calib_out.\" + msg.payload + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[["63372524.cb9afc"]]},{"id":"899c0f74.a8a81","type":"range","z":"a877d21.227c23","minin":"0","maxin":"1","minout":"0","maxout":"20","action":"scale","round":true,"property":"payload[1]","name":"","x":470,"y":60,"wires":[["2365d64b.c58182"]]},{"id":"9910514.3ba1ab","type":"range","z":"a877d21.227c23","minin":"0","maxin":"1","minout":"0","maxout":"20","action":"scale","round":true,"property":"payload[0]","name":"","x":330,"y":60,"wires":[["899c0f74.a8a81"]]},{"id":"2365d64b.c58182","type":"function","z":"a877d21.227c23","name":"Get touch position","func":"if (!flow.get(\"value\")) {\n  flow.set(\"value\",msg.payload);\n}\nvar values = flow.get(\"value\");\n\nif (values[0] == msg.payload[0] && values[1] == msg.payload[1]){\n}\nelse{\n    flow.set(\"value\", msg.payload);\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":650,"y":60,"wires":[["c90bb380.bf349"]]},{"id":"c90bb380.bf349","type":"function","z":"a877d21.227c23","name":"Read gain table","func":"msg.payload=\"mha.mhachain.altplugs.comp.smoothgains_bridge.mhachain.mbc.comp_chain.dc?read:/etc/mahalia/gaintables/table_\" + msg.payload[0] + \"_\" + msg.payload[1] + \"_0.cfg\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":60,"wires":[["63372524.cb9afc"]]},{"id":"3d6426cb.a95e92","type":"function","z":"a877d21.227c23","name":"Toggle compression","func":"if (msg.payload === true){\nmsg.payload=\"mha.mhachain.altplugs.select=comp\\n\"\n}\nelse{\nmsg.payload=\"mha.mhachain.altplugs.select=pass\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["63372524.cb9afc"]]},{"id":"3b3b2732.de847","type":"ui_button","z":"a877d21.227c23","name":"Shutdown","group":"401bc39f.af9f54","order":13,"width":"6","height":"1","passthru":false,"label":"Shutdown system","tooltip":"","color":"","bgcolor":"","icon":"cancel","payload":"1","payloadType":"str","topic":"","x":280,"y":1140,"wires":[["d81a0f1.2bfb5f"]]},{"id":"fd35677c.1635e","type":"ui_button","z":"a877d21.227c23","name":"","group":"401bc39f.af9f54","order":2,"width":"2","height":"1","passthru":true,"label":"Reset","tooltip":"","color":"","bgcolor":" \t#FFD700","icon":"","payload":"false","payloadType":"bool","topic":"","x":70,"y":1020,"wires":[["e6769fe1.6698c","43109ca6.562e9c","37640b27.f3f534","b32ec65d.b163c8","9155db41.f9b07","18a93cef.48bef3","d8d8edbe.6d5ad8","97eb61a4.c555d","c12631da.268e28","b1a0b1db.df4fc"]]},{"id":"4e2ce4db.4c977c","type":"ui_button","z":"a877d21.227c23","name":"","group":"401bc39f.af9f54","order":3,"width":"2","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":" \t#FF0000","icon":"","payload":"false","payloadType":"bool","topic":"","x":450,"y":1020,"wires":[["413f8da4.e06794"]]},{"id":"6129ffe3.87153","type":"ui_button","z":"a877d21.227c23","name":"","group":"401bc39f.af9f54","order":1,"width":"2","height":"1","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"#32CD32","icon":"","payload":"false","payloadType":"bool","topic":"","x":270,"y":1020,"wires":[["869fd794.44b7","fd35677c.1635e"]]},{"id":"51b31c95.d72dd4","type":"ui_switch","z":"a877d21.227c23","name":"","label":"Micpair: front / rear","tooltip":"","group":"401bc39f.af9f54","order":5,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"micselect","style":"","onvalue":"rear","onvalueType":"str","onicon":"","oncolor":"","offvalue":"front","offvalueType":"str","officon":"","offcolor":"","x":430,"y":600,"wires":[["74b35563.acdfd4"]]},{"id":"b32ec65d.b163c8","type":"ui_switch","z":"a877d21.227c23","name":"","label":"","tooltip":"","group":"401bc39f.af9f54","order":9,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":500,"wires":[["9631bd34.81dd9"]]},{"id":"280df981.fa51be","type":"ui_switch","z":"a877d21.227c23","name":"","label":"","tooltip":"","group":"401bc39f.af9f54","order":6,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"volume_up","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"volume_off","offcolor":"","x":530,"y":440,"wires":[["5d95f9d7.db91d"]]},{"id":"43109ca6.562e9c","type":"ui_switch","z":"a877d21.227c23","name":"","label":"Noise off/on","tooltip":"","group":"4d46fff.cce77","order":1,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":510,"y":680,"wires":[["99b356af.6ee39"]]},{"id":"e6769fe1.6698c","type":"ui_switch","z":"a877d21.227c23","name":"","label":"Pure tone off/on","tooltip":"","group":"4d46fff.cce77","order":6,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":500,"y":780,"wires":[["333acf82.4fb358"]]},{"id":"896d73bb.37c7b","type":"ui_switch","z":"a877d21.227c23","name":"","label":"Output calibration RIC S/M","tooltip":"","group":"401bc39f.af9f54","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":170,"y":160,"wires":[["934d12c6.fc0438"]]},{"id":"b1a0b1db.df4fc","type":"ui_switch","z":"a877d21.227c23","name":"","label":"PASS / ACTIVE","tooltip":"","group":"78dc1a38.50c914","order":2,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":100,"wires":[["3d6426cb.a95e92","37640b27.f3f534"]]},{"id":"b07d7ab7.674778","type":"ui_slider","z":"a877d21.227c23","name":"","label":"BTE","tooltip":"","group":"401bc39f.af9f54","order":7,"width":"3","height":"1","passthru":false,"outs":"end","topic":"","topicType":"str","min":"-20","max":"40","step":1,"x":490,"y":260,"wires":[["fc53f9e2.899ac","cb4865a7.2a2b9"]]},{"id":"f6f5b1d2.7f086","type":"ui_slider","z":"a877d21.227c23","name":"","label":"Line","tooltip":"","group":"401bc39f.af9f54","order":10,"width":"3","height":"1","passthru":false,"outs":"end","topic":"","topicType":"str","min":"-20","max":"40","step":1,"x":510,"y":360,"wires":[["161839ea.505896","5c8c5437.a8cd84"]]},{"id":"fc151416.74c4d8","type":"ui_slider","z":"a877d21.227c23","name":"","label":"f (hz)","tooltip":"","group":"4d46fff.cce77","order":10,"width":"4","height":"1","passthru":false,"outs":"end","topic":"","topicType":"str","min":"100","max":"4000","step":"50","x":510,"y":960,"wires":[["d1e6d1f.c6a993","6f716718.e0fae"]]},{"id":"e56319aa.02a668","type":"ui_slider","z":"a877d21.227c23","name":"","label":"level","tooltip":"","group":"4d46fff.cce77","order":3,"width":"4","height":"1","passthru":false,"outs":"end","topic":"","topicType":"str","min":"40","max":"80","step":1,"x":450,"y":740,"wires":[["8705f6cf.28ad08","f34326c9.a2b1d"]]},{"id":"d6b34a0b.bee6f8","type":"ui_slider","z":"a877d21.227c23","name":"","label":"level","tooltip":"","group":"4d46fff.cce77","order":8,"width":"4","height":"1","passthru":false,"outs":"end","topic":"","topicType":"str","min":"40","max":"80","step":"1","x":510,"y":880,"wires":[["f70a3c06.58d058","91fd90a3.cd8ab8"]]},{"id":"cb4865a7.2a2b9","type":"ui_text_input","z":"a877d21.227c23","name":"","label":"","tooltip":"","group":"401bc39f.af9f54","order":8,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","topicType":"str","x":310,"y":260,"wires":[["b07d7ab7.674778","fc53f9e2.899ac"]]},{"id":"5c8c5437.a8cd84","type":"ui_text_input","z":"a877d21.227c23","name":"","label":"","tooltip":"","group":"401bc39f.af9f54","order":11,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","topicType":"str","x":270,"y":360,"wires":[["f6f5b1d2.7f086","161839ea.505896"]]},{"id":"f34326c9.a2b1d","type":"ui_text_input","z":"a877d21.227c23","name":"","label":"","tooltip":"","group":"4d46fff.cce77","order":4,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","topicType":"str","x":270,"y":680,"wires":[["e56319aa.02a668","8705f6cf.28ad08"]]},{"id":"6f716718.e0fae","type":"ui_text_input","z":"a877d21.227c23","name":"","label":"","tooltip":"","group":"4d46fff.cce77","order":11,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","topicType":"str","x":490,"y":920,"wires":[["fc151416.74c4d8","d1e6d1f.c6a993"]]},{"id":"91fd90a3.cd8ab8","type":"ui_text_input","z":"a877d21.227c23","name":"","label":"","tooltip":"","group":"4d46fff.cce77","order":9,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"","topicType":"str","x":510,"y":840,"wires":[["d6b34a0b.bee6f8","f70a3c06.58d058"]]},{"id":"e712ae75.97897","type":"ui_text","z":"a877d21.227c23","group":"78dc1a38.50c914","order":3,"width":"6","height":"2","name":"","label":"Gains in System control are set to 0dB when acitvating compressor. Compressor is deactivated when switching to System control.","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":520,"wires":[]},{"id":"2a656a1b.9816ce","type":"ui_template","z":"a877d21.227c23","group":"78dc1a38.50c914","name":"2dAreaTouch","order":1,"width":"6","height":"4","format":"<div id=\"2dArea\"\nstyle=\"position: relative; height: 200px; width: 270px;background-color: #e2e2e2;\"\n> </div>\n\n<div id=\"cursor\"\nstyle=\"position: absolute; top: 130px; left: 130px; height: 20px; width: 20px;background-color: #004799; border-radius: 100%; cursor: none\"\n> </div>\n\n\n<script>\n\n(function($scope) {\n   \n  let lastFunc\n  let lastRan\n  const throttle = (xCoordinate,yCoordinate) => {\n     let limit = 150;\n    const context = this\n    const args = arguments\n    if (!lastRan) {\n      $scope.send({\"payload\":[xCoordinate, yCoordinate]})\n      lastRan = Date.now()\n    } else {\n      clearTimeout(lastFunc)\n      lastFunc = setTimeout(function() {\n        if ((Date.now() - lastRan) >= limit) {\n          $scope.send({\"payload\":[xCoordinate, yCoordinate]})\n          lastRan = Date.now()\n        }\n      }, limit - (Date.now() - lastRan))\n    }\n \n}\n   \n   $('#2dArea').on('touchstart touchmove',function(e){\n    e.preventDefault();\n    const area = document.getElementById(\"2dArea\");\n    let rect = area.getBoundingClientRect();\n    let xCoordinate = ((e.touches[0].clientX - rect.left)/(rect.right - rect.left)).toFixed(4);\n    let yCoordinate = ((e.touches[0].clientY - rect.top)/(rect.bottom - rect.top)).toFixed(4);\n    if (xCoordinate < 1 && xCoordinate > 0 && yCoordinate < 1 && yCoordinate > 0){\n        $(\"#cursor\").css( \"left\", (e.touches[0].clientX - rect.left) - 10 ); // offset to half of the cursor's width\n        $(\"#cursor\").css( \"top\", (e.touches[0].clientY - rect.top) - 10 );  // offset to half of the cursor's height\n        throttle(xCoordinate,yCoordinate);\n    }\n});\n\n    $('#2dArea').on('mousemove mousedown mouseup',function(e){\n    e.preventDefault();\n    const area = document.getElementById(\"2dArea\");\n    let rect = area.getBoundingClientRect();\n    let xCoordinate = ((e.clientX - rect.left)/(rect.right- rect.left)).toFixed(4);\n    let yCoordinate = ((e.clientY - rect.top)/(rect.bottom - rect.top)).toFixed(4);\n    if (xCoordinate < 1 && xCoordinate > 0 && yCoordinate < 1 && yCoordinate > 0 && e.buttons == 1){\n        $(\"#cursor\").css( \"left\", (e.clientX - rect.left) - 10 ); // offset to half of the cursor's width\n        $(\"#cursor\").css( \"top\", (e.clientY - rect.top) - 10 );  // offset to half of the cursor's height\n        throttle(xCoordinate,yCoordinate);\n    }\n    });\n\n})(scope);\n\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":90,"y":60,"wires":[["9910514.3ba1ab"]]},{"id":"6f18a6b3.826e1","type":"ui_ui_control","z":"a877d21.227c23","name":"fire on tab change to disable compressor","events":"change","x":500,"y":1260,"wires":[["30905b78.1d9304"]]},{"id":"30905b78.1d9304","type":"switch","z":"a877d21.227c23","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"change","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1200,"wires":[["1176f38d.d1693c"]]},{"id":"ca7042b8.8fac38","type":"change","z":"a877d21.227c23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1200,"wires":[["b1a0b1db.df4fc"]]},{"id":"1176f38d.d1693c","type":"switch","z":"a877d21.227c23","name":"","property":"tab","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1200,"wires":[["ca7042b8.8fac38"]]}]