etc/mahalia_fitpod/nodered/openMHAcontrol.flow
[{"id":"774279127a263797","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67eddab0de10c721","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"539ff85343630a91","type":"ui_group","name":"Control","tab":"c4605a0de5b3d281","order":1,"disp":false,"width":"6","collapse":false},{"id":"c4605a0de5b3d281","type":"ui_tab","name":"Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f7d130437f8028e4","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#004899","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#004899","edited":true},"page-titlebar-backgroundColor":{"value":"#004899","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#a0a9d7","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#004899","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":42,"sy":42,"gx":10,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"16018a338ae25410","type":"ui_group","name":"Analysis","tab":"32adaa2736900157","order":2,"disp":false,"width":"6","collapse":false},{"id":"32adaa2736900157","type":"ui_tab","name":"Analyse","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2b1ff7edc1b181b4","type":"ui_spacer","z":"774279127a263797","name":"spacer","group":"16018a338ae25410","order":1,"width":1,"height":1},{"id":"ed5568ad99b5de5c","type":"ui_spacer","z":"774279127a263797","name":"spacer","group":"16018a338ae25410","order":3,"width":1,"height":1},{"id":"a893f6c2.a4221","type":"ui_group","name":"Transparent Earpiece","tab":"","order":1,"disp":false,"width":"6","collapse":false},{"id":"b4b30beecb07becb","type":"tcp request","z":"774279127a263797","server":"localhost","port":"33337","out":"time","splitc":"0","name":"","x":570,"y":120,"wires":[["5a3abab6b28087e4"]]},{"id":"ae2f5d603a5230b8","type":"function","z":"774279127a263797","name":"switchToMvdr","func":"if (msg.payload == true){\n    msg.payload= \"mha.transducers.mhachain.bf.select = cmvdr \\n\\\n    mha.transducers.mhachain.bf.cmvdr.mvdr.mvdr.steerFile=${MHA_CONFIG_PATH}/MVDRcoeffs.cfg \\n\"\n} else if (msg.source !== \"switchOff\"){\n   msg.payload=\" mha.transducers.mhachain.bf.select = cnoproc \\n\"\n}else{\n    msg.payload=\"\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["c7cad9875461d37c"]]},{"id":"a56f9294deda801f","type":"function","z":"774279127a263797","name":"switchToCadm","func":"if (msg.payload == true){\n    msg.payload=\" mha.transducers.mhachain.bf.select = cadm \\n\"\n} else if (msg.source !== \"switchOff\"){\n   msg.payload=\" mha.transducers.mhachain.bf.select = cnoproc \\n\"\n}else{\n    msg.payload=\"\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":120,"wires":[["b4b30beecb07becb"]]},{"id":"863ae2d334b225f0","type":"ui_switch","z":"774279127a263797","name":"","label":"Directional Mic. (ADM)","tooltip":"","group":"539ff85343630a91","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":160,"y":120,"wires":[["a56f9294deda801f","09f39d6afd516ab8"]]},{"id":"f9a77fcf9a60c5b4","type":"ui_switch","z":"774279127a263797","name":"","label":"MVDR beamformer","tooltip":"","group":"539ff85343630a91","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":150,"y":220,"wires":[["ae2f5d603a5230b8","aa7e82e7d1f2e17f"]]},{"id":"12ac5018afa9b15d","type":"ui_switch","z":"774279127a263797","name":"","label":"Binaural Coherence Filter","tooltip":"","group":"539ff85343630a91","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":170,"y":420,"wires":[["d91cc56dcce60dce","d259c18a7fe018fd"]]},{"id":"d91cc56dcce60dce","type":"function","z":"774279127a263797","name":"switchToCcoh","func":"if (msg.payload == true){\n    msg.payload=\" mha.transducers.mhachain.bf.select = ccoh \\n\"\n} else if (msg.source !== \"switchOff\"){\n   msg.payload=\" mha.transducers.mhachain.bf.select = cnoproc \\n\"\n}else{\n    msg.payload=\"\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":420,"wires":[["0241c040c4427cee"]]},{"id":"d259c18a7fe018fd","type":"function","z":"774279127a263797","name":"switchOff","func":"if (msg.payload == true){\n    msg.payload = false\n    msg.source = \"switchOff\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":460,"wires":[["f9a77fcf9a60c5b4","863ae2d334b225f0","facf15a778ffe7c7"]]},{"id":"aa7e82e7d1f2e17f","type":"function","z":"774279127a263797","name":"switchOff","func":"if (msg.payload == true){\n    msg.payload = false\n    msg.source = \"switchOff\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["863ae2d334b225f0","12ac5018afa9b15d","facf15a778ffe7c7"]]},{"id":"09f39d6afd516ab8","type":"function","z":"774279127a263797","name":"switchOff","func":"if (msg.payload == true){\n    msg.payload = false\n    msg.source = \"switchOff\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":160,"wires":[["12ac5018afa9b15d","f9a77fcf9a60c5b4","facf15a778ffe7c7"]]},{"id":"5a3abab6b28087e4","type":"function","z":"774279127a263797","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"\\n\");\nif (msg.payload[msg.payload.length - 2] == \"(MHA:success)\"){\n    msg.payload = msg.payload[msg.payload.length - 2];\n}else{\nmsg.payload=\"adm switch: \" + msg.payload[msg.payload.length - 3] +msg.payload[msg.payload.length - 2];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":120,"wires":[["8e4627cb4ae77230","5e61f9dbca71a8e7"]]},{"id":"8e4627cb4ae77230","type":"delay","z":"774279127a263797","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":260,"wires":[["03f626ed40b48a05"]]},{"id":"03f626ed40b48a05","type":"function","z":"774279127a263797","name":"toString","func":"if (msg.payload == \"(MHA:success)\"){\nmsg.payload= \"\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":260,"wires":[[]]},{"id":"c7cad9875461d37c","type":"tcp request","z":"774279127a263797","server":"localhost","port":"33337","out":"time","splitc":"0","name":"","x":570,"y":220,"wires":[["a49c6856a7c6dc78"]]},{"id":"a49c6856a7c6dc78","type":"function","z":"774279127a263797","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"\\n\");\nif (msg.payload[msg.payload.length - 2] == \"(MHA:success)\"){\n    msg.payload = msg.payload[msg.payload.length - 2];\n}else{\nmsg.payload=\"mvdr switch: \" + msg.payload[msg.payload.length - 3] +msg.payload[msg.payload.length - 2];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":220,"wires":[["8e4627cb4ae77230","5e61f9dbca71a8e7"]]},{"id":"0241c040c4427cee","type":"tcp request","z":"774279127a263797","server":"localhost","port":"33337","out":"time","splitc":"0","name":"","x":570,"y":420,"wires":[["a3f65fe7ca264b09"]]},{"id":"a3f65fe7ca264b09","type":"function","z":"774279127a263797","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"\\n\");\nif (msg.payload[msg.payload.length - 2] == \"(MHA:success)\"){\n    msg.payload = msg.payload[msg.payload.length - 2];\n}else{\nmsg.payload=\"coh switch: \" + msg.payload[msg.payload.length - 3] +msg.payload[msg.payload.length - 2];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":420,"wires":[["8e4627cb4ae77230","5e61f9dbca71a8e7"]]},{"id":"1f3f00bd9e2ee16b","type":"function","z":"774279127a263797","name":"switchToMvdr","func":"if (msg.payload == true){\n    msg.payload=\" mha.transducers.mhachain.bf.select = cmvdr \\n\\\n    mha.transducers.mhachain.bf.cmvdr.mvdr.mvdr.steerFile=${MHA_CONFIG_PATH}/MVDRNcoeffs.cfg \\n\"\n} else if (msg.source !== \"switchOff\"){\n   msg.payload=\" mha.transducers.mhachain.bf.select = cnoproc \\n\"\n}else{\n    msg.payload=\"\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":320,"wires":[["68a1f406668c4cd5"]]},{"id":"facf15a778ffe7c7","type":"ui_switch","z":"774279127a263797","name":"","label":"MVDR-n beamformer","tooltip":"","group":"539ff85343630a91","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":160,"y":320,"wires":[["1f3f00bd9e2ee16b","d01af68c3156a335"]]},{"id":"d01af68c3156a335","type":"function","z":"774279127a263797","name":"switchOff","func":"if (msg.payload == true){\n    msg.payload = false\n    msg.source = \"switchOff\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":360,"wires":[["12ac5018afa9b15d","f9a77fcf9a60c5b4","863ae2d334b225f0"]]},{"id":"68a1f406668c4cd5","type":"tcp request","z":"774279127a263797","server":"localhost","port":"33337","out":"time","splitc":"0","name":"","x":570,"y":320,"wires":[["89fe31d284a6d779"]]},{"id":"89fe31d284a6d779","type":"function","z":"774279127a263797","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"\\n\");\nif (msg.payload[msg.payload.length - 2] == \"(MHA:success)\"){\n    msg.payload = msg.payload[msg.payload.length - 2];\n}else{\nmsg.payload=\"mvdr-n switch: \" + msg.payload[msg.payload.length - 3] +msg.payload[msg.payload.length - 2];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":320,"wires":[["8e4627cb4ae77230","5e61f9dbca71a8e7"]]},{"id":"5e61f9dbca71a8e7","type":"link out","z":"774279127a263797","name":"startAnalysis","links":["75e9cb521b733a67"],"x":1265,"y":340,"wires":[]},{"id":"5a318cf8ca678ddc","type":"function","z":"774279127a263797","name":"switchGain","func":"if (msg.payload == true){\n    msg.payload=\"mha.volume_control.gains=10 \\n\";\n}else if (msg.source !== \"switchOff\"){\n    msg.payload=\"mha.volume_control.gains=0 \\n\";\n}else {\n    msg.payload=\"\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":560,"wires":[["d5ed501af43da4eb"]]},{"id":"d5ed501af43da4eb","type":"tcp request","z":"774279127a263797","server":"localhost","port":"33337","out":"time","splitc":"0","name":"","x":570,"y":560,"wires":[["fbfefa677a3bb02d"]]},{"id":"fbfefa677a3bb02d","type":"function","z":"774279127a263797","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"\\n\");\nif (msg.payload[msg.payload.length - 2] == \"(MHA:success)\"){\n    msg.payload = msg.payload[msg.payload.length - 2];\n}else{\nmsg.payload=\"gain switch: \" + msg.payload[msg.payload.length - 3] +msg.payload[msg.payload.length - 2];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":560,"wires":[["5e61f9dbca71a8e7","8e4627cb4ae77230"]]},{"id":"f3653b38136ff633","type":"function","z":"774279127a263797","name":"switchMute","func":"if (msg.payload == true){\n    msg.payload=\"mha.volume_control.gains=-200 \\n\";\n}else if (msg.source !== \"switchOff\"){\n    msg.payload=\"mha.volume_control.gains=0 \\n\";\n}else{\n    msg.payload=\"\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":660,"wires":[["bdfa9a05c7640951"]]},{"id":"bdfa9a05c7640951","type":"tcp request","z":"774279127a263797","server":"localhost","port":"33337","out":"time","splitc":"0","name":"","x":570,"y":660,"wires":[["df4770a942882991"]]},{"id":"df4770a942882991","type":"function","z":"774279127a263797","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"\\n\");\nif (msg.payload[msg.payload.length - 2] == \"(MHA:success)\"){\n    msg.payload = msg.payload[msg.payload.length - 2];\n}else{\nmsg.payload=\"mute switch: \" + msg.payload[msg.payload.length - 3] +msg.payload[msg.payload.length - 2];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":660,"wires":[["5e61f9dbca71a8e7","8e4627cb4ae77230"]]},{"id":"ad173e2e391c7ef5","type":"function","z":"774279127a263797","name":"ControlGain","func":"if (msg.source !== \"switchOff\"){\n    msg.payload = false;\n    msg.source = \"switchOff\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":700,"wires":[["9acfae4b11a41bf0"]]},{"id":"f57e50b380f04563","type":"function","z":"774279127a263797","name":"ControlMute","func":"if (msg.payload == true){\n    msg.payload = false\n    msg.source = \"switchOff\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":600,"wires":[["844286b21cdb7c3d"]]},{"id":"9acfae4b11a41bf0","type":"ui_switch","z":"774279127a263797","name":"","label":"Gain +10dB","tooltip":"","group":"539ff85343630a91","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":130,"y":560,"wires":[["5a318cf8ca678ddc","f57e50b380f04563"]]},{"id":"844286b21cdb7c3d","type":"ui_switch","z":"774279127a263797","name":"","label":"Mute output","tooltip":"","group":"539ff85343630a91","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":130,"y":660,"wires":[["f3653b38136ff633","ad173e2e391c7ef5"]]},{"id":"bac6062d221074bc","type":"debug","z":"67eddab0de10c721","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":60,"wires":[]},{"id":"8a8739c73abd670c","type":"ui_button","z":"67eddab0de10c721","name":"","group":"16018a338ae25410","order":2,"width":4,"height":1,"passthru":false,"label":"Analyse","tooltip":"","color":"","bgcolor":"#32CD32","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":380,"wires":[["e1cf2def105de526"]]},{"id":"75e9cb521b733a67","type":"link in","z":"67eddab0de10c721","name":"startAnalysis","links":["5e61f9dbca71a8e7"],"x":155,"y":340,"wires":[["e1cf2def105de526"]]},{"id":"e1cf2def105de526","type":"function","z":"67eddab0de10c721","name":"getSettings","func":"msg.payload = \"mha.transducers.mhachain.bf.select?val\\n\"\n    //mha.transducers.mhachain.signal_processing.ola.c.fshift.select?val\\n\\\n    //  mha.transducers.mhachain.signal_processing.ola.c.mbc.compressor.compression.mode?val\\n\\\n    //mha.transducers.calib_out.do_clipping?val\\n\\\n    //mha.transducers.mhachain.signal_processing.ola.c.mbc.select?val\\n\\\n    //mha.volume_control.gains?val\\n\\\n    //mha.transducers.mhachain.bf.cmvdr.mvdr.mvdr.steerFile?val\\n\\\n    //mha.transducers.mhachain.signal_processing.ola.c.fresponse.select?val\\n\";\n   return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":280,"wires":[["d18a0970822a7c21"]]},{"id":"d18a0970822a7c21","type":"tcp request","z":"67eddab0de10c721","server":"Localhost","port":"33337","out":"time","splitc":"5","name":"","x":800,"y":280,"wires":[["83cc20fa14d5668f"]]},{"id":"83cc20fa14d5668f","type":"function","z":"67eddab0de10c721","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"(MHA:success)\");\n//msg.payload=msg.payload.split(\",\");\n\nparameters = [\"algorithm: \", \"fshift: \", \"smoothgain: \", \"softclipper: \", \"compressor: \", \"AdditionalGain: \", \"MVDR_Setting: \", \"EQ: \"];\nmsg.payload =msg.payload[0] + \"<br>\";\nreturn msg;\n// success_index = msg.payload.indexOf('(MHA:success)', 35);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":280,"wires":[["e88838c54e38d8d1","c0244b9c3dcc7745"]]},{"id":"e88838c54e38d8d1","type":"ui_text","z":"67eddab0de10c721","group":"16018a338ae25410","order":5,"width":6,"height":1,"name":"","label":"algorithm:","format":"{{msg.payload}}","layout":"row-spread","x":1320,"y":280,"wires":[]},{"id":"79d2defcb4e9041e","type":"ui_text","z":"67eddab0de10c721","group":"16018a338ae25410","order":6,"width":6,"height":1,"name":"","label":"fshift:","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":340,"wires":[]},{"id":"80656face5ea3310","type":"ui_text","z":"67eddab0de10c721","group":"16018a338ae25410","order":7,"width":6,"height":1,"name":"","label":"smoothgain: ","format":"{{msg.payload}}","layout":"row-spread","x":1330,"y":400,"wires":[]},{"id":"8f6e9cdbf99bd992","type":"ui_text","z":"67eddab0de10c721","group":"16018a338ae25410","order":8,"width":6,"height":1,"name":"","label":"softclipper: ","format":"{{msg.payload}}","layout":"row-spread","x":1330,"y":460,"wires":[]},{"id":"ddfd1683f7a8fb41","type":"ui_text","z":"67eddab0de10c721","group":"16018a338ae25410","order":9,"width":6,"height":1,"name":"","label":"compressor:","format":"{{msg.payload}}","layout":"row-spread","x":1330,"y":520,"wires":[]},{"id":"63cec21dd3dc68bb","type":"ui_text","z":"67eddab0de10c721","group":"16018a338ae25410","order":10,"width":6,"height":1,"name":"","label":"AdditionalGain:","format":"{{msg.payload}}","layout":"row-spread","x":1340,"y":580,"wires":[]},{"id":"07586c4384c067aa","type":"ui_text","z":"67eddab0de10c721","group":"16018a338ae25410","order":11,"width":6,"height":1,"name":"","label":"MVDR_Setting:","format":"{{msg.payload}}","layout":"row-spread","x":1340,"y":640,"wires":[],"inputLabels":["<font size =\"8\">"]},{"id":"af35e9e80c00eac5","type":"ui_text","z":"67eddab0de10c721","group":"16018a338ae25410","order":12,"width":6,"height":1,"name":"","label":"EQ:","format":"{{msg.payload}}","layout":"row-spread","x":1310,"y":700,"wires":[]},{"id":"5fb1b3a489bfaba4","type":"function","z":"67eddab0de10c721","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"(MHA:success)\");\n//msg.payload=msg.payload.split(\"\\n\");\n\nparameters = [\"algorithm: \", \"fshift: \", \"smoothgain: \", \"softclipper: \", \"compressor: \", \"AdditionalGain: \", \"MVDR_Setting: \", \"EQ: \"];\nmsg.payload =msg.payload[0] + \"<br>\";\nreturn msg;\n// success_index = msg.payload.indexOf('(MHA:success)', 35);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":340,"wires":[["79d2defcb4e9041e","bafa6426a916a274"]]},{"id":"f148b2ebb2f4448f","type":"function","z":"67eddab0de10c721","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"(MHA:success)\");\n//msg.payload=msg.payload.split(\"\\n\");\n\nparameters = [\"algorithm: \", \"fshift: \", \"smoothgain: \", \"softclipper: \", \"compressor: \", \"AdditionalGain: \", \"MVDR_Setting: \", \"EQ: \"];\nmsg.payload =msg.payload[0] + \"<br>\";\nreturn msg;\n// success_index = msg.payload.indexOf('(MHA:success)', 35);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":400,"wires":[["80656face5ea3310","b23beaab2a6df82f"]]},{"id":"3c8e8089da9a2ab1","type":"function","z":"67eddab0de10c721","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"(MHA:success)\");\n//msg.payload=msg.payload.split(\"\\n\");\n\nparameters = [\"algorithm: \", \"fshift: \", \"smoothgain: \", \"softclipper: \", \"compressor: \", \"AdditionalGain: \", \"MVDR_Setting: \", \"EQ: \"];\nmsg.payload =msg.payload[0] + \"<br>\";\nreturn msg;\n// success_index = msg.payload.indexOf('(MHA:success)', 35);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":460,"wires":[["8f6e9cdbf99bd992","d753bba1d4a3acfd"]]},{"id":"4dc3c354be06720f","type":"function","z":"67eddab0de10c721","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"(MHA:success)\");\n//msg.payload=msg.payload.split(\"\\n\");\n\nparameters = [\"algorithm: \", \"fshift: \", \"smoothgain: \", \"softclipper: \", \"compressor: \", \"AdditionalGain: \", \"MVDR_Setting: \", \"EQ: \"];\nmsg.payload =msg.payload[0] + \"<br>\";\nreturn msg;\n// success_index = msg.payload.indexOf('(MHA:success)', 35);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":520,"wires":[["ddfd1683f7a8fb41","711b35417ac308cf"]]},{"id":"86adc89c2b3acb2b","type":"function","z":"67eddab0de10c721","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"(MHA:success)\");\n//msg.payload=msg.payload.split(\"\\n\");\n\nparameters = [\"algorithm: \", \"fshift: \", \"smoothgain: \", \"softclipper: \", \"compressor: \", \"AdditionalGain: \", \"MVDR_Setting: \", \"EQ: \"];\nmsg.payload =msg.payload[0] + \"<br>\";\nreturn msg;\n// success_index = msg.payload.indexOf('(MHA:success)', 35);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":580,"wires":[["63cec21dd3dc68bb","549408435699ecde"]]},{"id":"0f61574b6bf43d37","type":"function","z":"67eddab0de10c721","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"(MHA:success)\");\n//msg.payload=msg.payload.split(\"\\n\");\n\nparameters = [\"algorithm: \", \"fshift: \", \"smoothgain: \", \"softclipper: \", \"compressor: \", \"AdditionalGain: \", \"MVDR_Setting: \", \"EQ: \"];\nmsg.payload =msg.payload[0] + \"<br>\";\nreturn msg;\n// success_index = msg.payload.indexOf('(MHA:success)', 35);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":640,"wires":[["07586c4384c067aa","7f683b8c1c4fe3ea"]]},{"id":"b982cddf253ddd45","type":"function","z":"67eddab0de10c721","name":"toString","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.split(\"(MHA:success)\");\n//msg.payload=msg.payload.split(\"\\n\");\n\nparameters = [\"algorithm: \", \"fshift: \", \"smoothgain: \", \"softclipper: \", \"compressor: \", \"AdditionalGain: \", \"MVDR_Setting: \", \"EQ: \"];\nmsg.payload =msg.payload[0] + \"<br>\";\nreturn msg;\n// success_index = msg.payload.indexOf('(MHA:success)', 35);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":700,"wires":[["af35e9e80c00eac5"]]},{"id":"4d9d88d132f5d00b","type":"tcp request","z":"67eddab0de10c721","server":"Localhost","port":"33337","out":"time","splitc":"5","name":"","x":800,"y":340,"wires":[["5fb1b3a489bfaba4"]]},{"id":"946d43a1a74526af","type":"tcp request","z":"67eddab0de10c721","server":"Localhost","port":"33337","out":"time","splitc":"5","name":"","x":800,"y":400,"wires":[["f148b2ebb2f4448f"]]},{"id":"b83a8c3075f1169c","type":"tcp request","z":"67eddab0de10c721","server":"Localhost","port":"33337","out":"time","splitc":"5","name":"","x":800,"y":460,"wires":[["3c8e8089da9a2ab1"]]},{"id":"8eb3b3b1a2654448","type":"tcp request","z":"67eddab0de10c721","server":"Localhost","port":"33337","out":"time","splitc":"5","name":"","x":800,"y":520,"wires":[["4dc3c354be06720f"]]},{"id":"d8ae134a23fac65e","type":"tcp request","z":"67eddab0de10c721","server":"Localhost","port":"33337","out":"time","splitc":"5","name":"","x":800,"y":580,"wires":[["86adc89c2b3acb2b"]]},{"id":"db51d50f21f0a401","type":"tcp request","z":"67eddab0de10c721","server":"Localhost","port":"33337","out":"time","splitc":"5","name":"","x":800,"y":640,"wires":[["0f61574b6bf43d37"]]},{"id":"02f35bca20e9d408","type":"tcp request","z":"67eddab0de10c721","server":"Localhost","port":"33337","out":"time","splitc":"5","name":"","x":800,"y":700,"wires":[["b982cddf253ddd45"]]},{"id":"c0244b9c3dcc7745","type":"function","z":"67eddab0de10c721","name":"getSettings","func":"msg.payload = \"mha.transducers.mhachain.signal_processing.ola.c.fshift.select?val\\n\";\n   return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":340,"wires":[["4d9d88d132f5d00b"]]},{"id":"bafa6426a916a274","type":"function","z":"67eddab0de10c721","name":"getSettings","func":"msg.payload = \"mha.transducers.mhachain.signal_processing.ola.c.mbc.compressor.compression.mode?val\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":400,"wires":[["946d43a1a74526af"]]},{"id":"b23beaab2a6df82f","type":"function","z":"67eddab0de10c721","name":"getSettings","func":"msg.payload = \"mha.transducers.calib_out.do_clipping?val\\n\";\n   return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":460,"wires":[["b83a8c3075f1169c"]]},{"id":"d753bba1d4a3acfd","type":"function","z":"67eddab0de10c721","name":"getSettings","func":"msg.payload = \"mha.transducers.mhachain.signal_processing.ola.c.mbc.select?val\\n\";\n   return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":520,"wires":[["8eb3b3b1a2654448"]]},{"id":"711b35417ac308cf","type":"function","z":"67eddab0de10c721","name":"getSettings","func":"msg.payload = \"mha.volume_control.gains?val\\n\";\n   return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":580,"wires":[["d8ae134a23fac65e"]]},{"id":"549408435699ecde","type":"function","z":"67eddab0de10c721","name":"getSettings","func":"msg.payload = \"mha.transducers.mhachain.bf.cmvdr.mvdr.mvdr.steerFile?val\\n\";\n   return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":640,"wires":[["db51d50f21f0a401"]]},{"id":"7f683b8c1c4fe3ea","type":"function","z":"67eddab0de10c721","name":"getSettings","func":"msg.payload = \"mha.transducers.mhachain.signal_processing.ola.c.fresponse.select?val\\n\";\n   return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":700,"wires":[["02f35bca20e9d408"]]},{"id":"82156830.0e493","type":"function","z":"774279127a263797","name":"toString level L","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.replace(\"[\", \"\");\nmsg.payload=msg.payload.replace(\"]\", \"\");\nmsg.payload=msg.payload.split(\" \");\nmsg.payload=parseFloat(msg.payload[0]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":860,"wires":[["c0704ca7.163fc"]]},{"id":"f43024db.40541","type":"tcp request","z":"774279127a263797","server":"localhost","port":"33337","out":"time","splitc":"5","name":"Level","x":430,"y":900,"wires":[["82156830.0e493","a4dc7ba2.26512"]]},{"id":"c0704ca7.163fc","type":"ui_gauge","z":"774279127a263797","name":"","group":"539ff85343630a91","order":6,"width":"3","height":"2","gtype":"gage","title":"Mic 3 L","label":"","format":"","min":"40","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":860,"wires":[]},{"id":"5c90cb2a.6b1e54","type":"function","z":"774279127a263797","name":"get level","func":"msg.payload=\"mha.transducers.calib_in.rmslevel?val\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":900,"wires":[["f43024db.40541"]]},{"id":"a4dc7ba2.26512","type":"function","z":"774279127a263797","name":"toString level R","func":"msg.payload=msg.payload.toString('utf8');\nmsg.payload=msg.payload.replace(\"[\", \"\");\nmsg.payload=msg.payload.replace(\"]\", \"\");\nmsg.payload=msg.payload.split(\" \");\nmsg.payload=parseFloat(msg.payload[2]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":940,"wires":[["57474073.62a87"]]},{"id":"5976b2ca.0c11bc","type":"inject","z":"774279127a263797","name":"","repeat":".1","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":900,"wires":[["5c90cb2a.6b1e54"]]},{"id":"57474073.62a87","type":"ui_gauge","z":"774279127a263797","name":"","group":"539ff85343630a91","order":7,"width":"3","height":"2","gtype":"gage","title":"Mic 3 R","label":"","format":"","min":"40","max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":940,"wires":[]},{"id":"b8ad7c43.4f1458","type":"ui_slider","z":"774279127a263797","name":"","label":"HP Vol.","tooltip":"","group":"539ff85343630a91","order":9,"width":0,"height":0,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"-15","max":"15","step":1,"x":100,"y":800,"wires":[["acdd056d.dee38"]]},{"id":"acdd056d.dee38","type":"function","z":"774279127a263797","name":"set HP level","func":"msg.payload=\"mha.mute_dummies.gains = [0 0 \" + msg.payload.toString() + \" -120 -120 -120 \" + msg.payload.toString() + \" -120]\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":800,"wires":[["32f74368.1249c4"]]},{"id":"32f74368.1249c4","type":"tcp request","z":"774279127a263797","server":"localhost","port":"33337","out":"time","splitc":"5","name":"Level","x":490,"y":800,"wires":[[]]},{"id":"c9365580.6eada8","type":"inject","z":"774279127a263797","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"0","payloadType":"num","x":80,"y":760,"wires":[["b8ad7c43.4f1458"]]}]